@model RoomCleanerApp.Dtos.CreateHotelDto
<table class="table">
    <tr>
        <th>City</th>
        <th>Address</th>
        <th></th>
    </tr>
    @foreach(var hotel in @Model.HotelDtos)
    { 
        <tr>
            <td>@hotel.City</td>
            <td>@hotel.Hotel.Address</td>
            <td>
                @Html.ActionLink("Update","Update","Hotel", 
                new{hotelid=@hotel.Hotel.Id,form="create"},
                new{@class="btn btn-secondary"})
            </td>
        </tr>
    }
</table>
@using (Html.BeginForm("CreateHotel", "Hotel", FormMethod.Post))
    {
      
        @Html.LabelFor(a=>a.Address)
        @Html.TextBoxFor(a=>a.Address)

        @Html.LabelFor(a=>a.TotalRooms)
        @Html.TextBoxFor(a=>a.TotalRooms)

        @Html.LabelFor(a=>a.AllCities)
        @Html.DropDownListFor(a=>a.CityId, new SelectList(@Model.AllCities,"Id","Name")) 
        <input type="submit" value="Create Hotel"/>    
    }    