@model RoomCleanerApp.Dtos.UpdateHotelDto

<span style="color:red;">@Model.ErrorMessage</span>
<table class="table">   
    <tr>
        <th>Floor</th>
    </tr>
        @foreach(var room in @Model.CleanRooms)
    {
        @if (@room.Room.Booked == false && @room.Cleaned== true)
        {
            <tr>
                <td>@room.Room.Floor</td>
                <td>
                    @Html.ActionLink("Book","Book","Hotel", 
                    new{id=@room.Room.Id,hotelid=@room.Room.HotelId},
                    new{@class="btn btn-secondary"})
                </td>   
            </tr>
        }
    else if (@room.Room.Booked == false)
    {
        <tr>
                <td>@room.Room.Floor</td>
                <td>
                    @Html.ActionLink("Book","Book","Hotel", 
                    new{id=@room.Room.Id,hotelid=@room.Room.HotelId},
                    new{@class="btn btn-secondary disabled"})
                    Need to be cleaned
                </td>   
        </tr>
    }
}

        @foreach(var room in @Model.CleanRooms)
        {
            @if (@room.Room.Booked == true)
            {
            <tr>
                <td>@room.Room.Floor</td>
                <td>               
                    @Html.ActionLink("Release","Release","Hotel", 
                    new{id=@room.Room.Id,hotelid=@room.Room.HotelId},
                    new{@class="btn btn-secondary"})
                </td>   
            </tr>
            }
        }
</table>
