@model List<RegistrationItemsApp.Models.RegistrationItem>
 <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
<script type="text/javascript">
  $(document).ready(function(event) {

   $("[name*='SelectedValueId']").attr('disabled', true);

   $('#btnSubmit').click(function(event){
      $("[name*='SelectedValueId']").attr('disabled', false);
      $('#btnSubmit').attr('disabled', true);
      $('#btnSave').attr('disabled', false);
      $('#btnCancel').attr('disabled', false);
      event.preventDefault();
    });

  });
</script>
@using (Html.BeginForm("SendSubmitData", "RegPoz", FormMethod.Post))
    {     
<table class="table" >
  <thead>
    <tr>
      <th scope="col">Registracijos Požymiai</th>
      <th scope="col">Reikšmė</th>
    </tr>
  </thead>
  <tbody>
        @for (var i = 0; i < @Model.Count; i++)
            {
                <tr>
                    <td>@Model[@i].Name</td>
                    <td >
                        @Html.HiddenFor(q => q[@i].Id)
                        @Html.HiddenFor(q=>q[@i].Form.Id)
                        @Html.DropDownListFor(q => @Model[@i].SelectedValueId, new SelectList(@Model[@i].Values,"Id", "Name"))
                    </td>
                </tr>
            }
  </tbody>
</table>
 <input type="submit" value="Koreguoti požymius"  id="btnSubmit"/>
 <input type="submit" name="answer" value="Saugoti pataisymus" id="btnSave" disabled/>
 <input type="submit" name="answer" value="Atšaukti pataisymus" id="btnCancel" disabled/>
 }